@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #f4f4f8;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid rgb(248, 246, 246) 0.5px;
    color: rgb(250, 9, 9);
    border-radius: 5px;
    width: 100%;
    height: 65%;
}

.button {
    font-family: 'Orbitron', sans-serif;
    background-color: #fa0909;
    color: white;
    border: solid rgb(250, 241, 241) 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}

.button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}